<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>034.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1058},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>041.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1026},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>042.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1026},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>043.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1026},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>044.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1026},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>052.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,898},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>053.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,898},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>054.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,898},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>061.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,898},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>063.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,882},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>064.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,770},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>071.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,770},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>072.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,770},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>073.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,770},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>081.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,706},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>082.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,642},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>083.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,642},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>084.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,642},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>091.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,642},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>093.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,530},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>094.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,514},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,514},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,514},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,514},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,386},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>112.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,386},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>113.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,386},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>114.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,386},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>122.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,354},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>123.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,258},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>124.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,258},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>131.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,258},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>132.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>134.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,178},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>141.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,130},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>142.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,130},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>143.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,130},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>144.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,130},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>152.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>153.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>154.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>161.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>171.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>181.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c18b116713f59a8e86f30c50b98ac8b$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
